* {
padding: 0;
margin: 0;
}

nav{
    width: 100%;
    height: auto;
    background-color:#f83e4b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: white;
}
h1{
    font-size: 23px;
}

.items-list ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    list-style: none;
}


.items-list ul li a{
    text-decoration: none;
    outline: solid 1px #ccc; 
    padding: 5px;
    color: white;
    font-size: 20px;
    /* gap: 20px; */
}